@import "src/shared/assets/styles";

.authPage {
  font: $p-light;
  color: $main-black;
}
// .header {
//   width: 100vw;
//   height: 70px;
//   border-bottom: 1px solid #ebe7ff;
// }

// .headerLogo {
//   font: $h1-light;
//   padding: 15px;
// }

.auth {
  width: 350px;
  margin: 0 auto;
  vertical-align: middle;
}

.authLogo {
  font: $h1-light;
  text-align: center;
  margin-top: 150px;
}

.formUsername, .formPassword{
  width: 100%;
  height: 32px;
  margin: 8px 0;
  padding-left: 8px;
  border: 1px solid #e2e2ea;
  border-radius: 8px;
}

