.flexWrapper {
  display: flex;
  align-content: center;
  align-items: center;
}

.avatar {
  margin-bottom: 20px;
  margin-right: 40px;
}

.btns {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}