//colors
$main-blue: #0062FF;
$main-black: #171725;

//fonts
$h1: 700 32px/40px Rubik, sans-serif;
$h1-light: 300 28px/34px Rubik, sans-serif;
$p-light: 300 14px/17px Rubik, sans-serif;
$p-regular: 400 16px/20px Rubik, sans-serif; 
$p-medium: 500 14px/17px Rubik, sans-serif; 
